{% extends 'layout.html.twig' %}
{% set active = 'about' %}

{% block content %}
    <div class="hero-unit">
    <h1>Welcome to PHP SDK for XING</h1>
    <p>
        This is a small application made with love and twitter Bootstrap, Silex, Twig. It demonstrates the usage of the
        functions of the Xing API.
    </p>
    <p>
        This web app, as well as the PHP SDK for XING, are <strong>no official packages from XING AG!</strong>
    </p>
    <p>
        Do you want to extend this sample application? Then <a href="https://github.com/BjoernSchotte/php-sdk-for-XING-example">head over to Github</a>.
    </p>
    </div>
{% endblock %}